@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);

body {
    font-family: "Source Sans Pro" !important;
    font-size: 13px;
    background-image: url('/img/bg.png');
}
.post {
    font-size: 15px;
}

#content {
    padding-top: 60px;
}

#sidebar {
    position: fixed;
    top: 60px;
    width: 181px;
}

.navbar .brand {
    margin-left: 10px;
}

pre.prettyprint {
    border: 1px solid #CCC;
    border: 1px solid rgba(0, 0, 0, 0.15);
}